
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    
    display: inline-block;
    width: 100%;
    background-color: white;
    border-bottom: .5px solid teal;
}

.myname {
display: inline-block;
float: left;
background-color: teal;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
padding-left: 15px;
padding-right: 15px;
padding-top: 0px;
padding-bottom: 0px;
margin-left: 15%;
}

.nav {
    background-color: white;
    float: right;
    margin-right: 15%;
    vertical-align:middle;
    margin-top: 3%;
    
}

.navlinks {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: gray;


}

.page {
    clear: both;
    background-color: beige;
    
}

.divider {

    background-color: beige;
    height: 50px;
    margin-top: -3px;
}

.content {
    display: block;
    position: relative;
    height: 800px;
    margin-top: -5px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 250px;
    background-color: white;
    padding: 15px;
}


/** Images **/

.paragraphimages {
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 13%;
    border-radius: 8px;

}



/** Contact form styles **/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: teal;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }


  /** Portfolio Styles **/

  .websitesblock {
    float: left;
    position: relative;
    background-color: gray;
    width: 33.33%;
    height: 200px;
    background-image: url(https://www.telegraph.co.uk/content/dam/technology/2017/08/03/Internet2_trans_NvBQzQNjv4BqJRZdqtQCcB0-hjTaQxsqmtMZZIw9jvU_z2DJKltQ1FE.jpg?imwidth=1400);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline-end: 15px;
    margin-top: 15px;

  }

  .portfoliosectiontitle {
    background-color: teal;
    position: relative;
    bottom: -137px;
    width: 100%;
   padding-top: 15px;
    height: 50px;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;

  }


  span {
    display: inline-block;
    vertical-align: middle;
  }

  .valigntext {


    vertical-align: middle;
  }



   /** Footer **/

  footer {
    background-color: darkgrey;
    border-top: .5px solid teal;
    height: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
